django
-e git+https://github.com/django-stars/django-js-settings.git#egg=django-javascript-settings
south
django-debug-toolbar
django-extensions
werkzeug
psycopg2
PIL
sorl-thumbnail
-e git+https://github.com/digi604/django-smart-selects.git#egg=django-smart-selects