django
-e git+https://github.com/django-stars/django-js-settings.git#egg=django-javascript-settings
south
django-debug-toolbar
django-extensions
django-ajax-selects
werkzeug
psycopg2
PIL
sorl-thumbnail
