{% extends "base.html" %}
 {% load mptt_tags %}

{% block content %}
  {% full_tree_for_model products.Category as categories %}
  <p>Categories:</p>
  <ul>
    {% for category in categories %}
      <li>
        <a href="{{ category.get_absolute_url }}">{{ category }}</a>
          {% for subcategory in category.subcategories.all %}
            <ul>
              <li><a href="{{ subcategory.get_absolute_url }}">{{ subcategory }}</a></li>
            </ul>
          {% endfor %}
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
